// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


html {
  position: relative;
  min-height: 100%;
}


header.hide-message-section {
    min-height: 1px;

    div.message {
    	display: none;
    }
}


header.empty-message-section {
    min-height: 250px;

    div.message {
    	display: none;
    }
}


div.about-us-subheader.page-content {
	h2.post-title {
		margin-bottom: 30px;
	}
	p {
		text-align: left;
	}
}