ul { margin-bottom: 0; }

aside.main-sidebar nav ul li.nav-item.menu-open { background: #505458; }
aside.main-sidebar nav ul li.nav-item ul.nav-treeview { padding-left: 5px; padding-right: 5px; }

body.users-page.edit img.profile-img { width: 100%; height: auto; margin-bottom: 15px; }
