$darkgrey: #505458;


ul {
	margin-bottom: 0;
}


aside.main-sidebar {
	nav {
		ul {
			li.nav-item {
				&.menu-open {
					background: $darkgrey;
				}

				ul.nav-treeview {
					padding-left: 5px;
					padding-right: 5px;
				}
			}
		}
	}
}


.card {
	.card-body {
		ul.pagination {

		}
	}
}


body.users-page {
	&.edit {
		img.profile-img {
			width: 100%;
			height: auto;
			margin-bottom: 15px;
		}
	}
}


body.posts-categories {
	&.index {

	}
}